In [25]:
import numpy as np
import pandas as pd
from pathlib import Path

In [26]:
train_df = pd.read_csv(Path('Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Resources/2020Q1loans.csv'))
train_df

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12175,354912,354912,19975.0,0.2565,801.09,RENT,28000.0,Not Verified,high_risk,n,...,100.0,16.7,0.0,0.0,50055.0,28192.0,18700.0,19055.0,N,N
12176,354944,354944,15000.0,0.1774,540.34,RENT,50000.0,Verified,high_risk,n,...,90.5,11.1,0.0,0.0,70324.0,57025.0,13300.0,54824.0,N,N
12177,354973,354973,3600.0,0.1862,131.28,RENT,60000.0,Not Verified,high_risk,n,...,100.0,0.0,0.0,0.0,83765.0,55156.0,14800.0,53065.0,N,N
12178,355002,355002,15000.0,0.0881,475.68,MORTGAGE,62000.0,Source Verified,high_risk,n,...,100.0,0.0,0.0,0.0,189930.0,23748.0,7000.0,32930.0,N,N
12179,355307,355307,15000.0,0.1774,540.34,RENT,54080.0,Not Verified,high_risk,n,...,90.0,100.0,0.0,0.0,48968.0,29786.0,2900.0,33968.0,N,N

In [27]:
 #Checking for missing values
test_df.isnull().sum()

Unnamed: 0                    0
index                         0
loan_amnt                     0
int_rate                      0
installment                   0
                             ..
total_bal_ex_mort             0
total_bc_limit                0
total_il_high_credit_limit    0
hardship_flag                 0
debt_settlement_flag          0
Length: 86, dtype: int64

In [29]:
test_df.describe()

,Unnamed: 0,index,loan_amnt,int_rate,installment,annual_inc,dti,delinq_2yrs,inq_last_6mths,open_acc,...,num_tl_90g_dpd_24m,num_tl_op_past_12m,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit
count,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4.702000e+03,4702.000000,4702.000000,4702.000000,4702.000000,...,4702.000000,4702.000000,4702.000000,4702.000000,4702.000000,4702.0,4.702000e+03,4702.000000,4702.000000,4702.000000
mean,40848.125479,40848.125479,16983.889834,0.147490,503.512114,8.677217e+04,22.984243,0.205444,0.701616,12.709911,...,0.049979,2.532539,95.322310,32.394173,0.103360,0.0,1.954170e+05,62753.955764,30585.559336,55616.824543
std,22099.925238,22099.925238,10122.727799,0.057906,293.240156,5.802277e+04,21.162972,0.634326,0.901247,6.046306,...,0.303582,2.048161,7.941194,33.168723,0.309313,0.0,1.905403e+05,55695.287834,27664.330803,49447.248867
min,31.000000,31.000000,1000.000000,0.064600,31.140000,1.000000e+02,0.710000,0.000000,0.000000,2.000000,...,0.000000,0.000000,22.200000,0.000000,0.000000,0.0,3.000000e+03,1554.000000,500.000000,526.000000
25%,22695.500000,22695.500000,9512.500000,0.103300,280.840000,5.200000e+04,14.920000,0.000000,0.000000,8.000000,...,0.000000,1.000000,93.300000,0.000000,0.000000,0.0,6.302775e+04,27884.750000,11900.000000,23372.500000
50%,42024.500000,42024.500000,15000.000000,0.143000,443.960000,7.316650e+04,21.100000,0.000000,0.000000,12.000000,...,0.000000,2.000000,100.000000,25.000000,0.000000,0.0,1.246550e+05,47685.500000,22600.000000,42801.000000
75%,60078.500000,60078.500000,24000.000000,0.186200,684.720000,1.050000e+05,27.980000,0.000000,1.000000,16.000000,...,0.000000,4.000000,100.000000,50.000000,0.000000,0.0,2.766482e+05,80017.750000,40400.000000,73172.500000
max,77340.000000,77340.000000,40000.000000,0.288000,1604.180000,1.092000e+06,999.000000,8.000000,5.000000,53.000000,...,5.000000,14.000000,100.000000,100.000000,2.000000,0.0,2.859851e+06,913475.000000,280400.000000,838661.000000

In [35]:
# Convert categorical data to numeric and separate target feature for training data
pd.get_dummies(train_df['home_ownership'])
pd.get_dummies(test_df['loan_status'])

#One hot encoding of categorical variables
# df = pd.get_dummies(data=train_df,columns=['home_ownership','loan_status','loan_Grade','Historical_Default'])
# Convert categorical data to numeric and separate target feature for training data

      high_risk  low_risk
0             0         1
1             0         1
2             0         1
3             0         1
4             0         1
...         ...       ...
4697          1         0
4698          1         0
4699          1         0
4700          1         0
4701          1         0

[4702 rows x 2 columns]

In [ ]:
# Convert categorical data to numeric and separate target feature for testing data
sdsdc

In [ ]:
# add missing dummy variables to testing set

In [ ]:
# Train the Logistic Regression model on the unscaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model and print the model score

In [ ]:
# Scale the data

In [ ]:
# Train the Logistic Regression model on the scaled data and print the model score

In [ ]:
# Train a Random Forest Classifier model on the scaled data and print the model score